output/
html_notebooks/
stock_data/

## Some defaults ##
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


# dotenv
.env

# virtualenv
.venv
venv/
ENV/
